@media only screen and (min-width: 700px) {
  nav#desktop {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav#desktop div {
    font-size: 20px;
    font-weight: 500;
    line-height: 29.38px;
    padding: 12px 8px;
    margin: 12px 22px;
    cursor: pointer;
  }
  nav#mobile {
    display: none;
  }
  .flexBox {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin: 0 auto;
  }
  .flexBox .card1 {
    margin-left: 45px;
  }
  #recent-post {
    font-size: 22px;
    font-weight: 400;
    line-height: 60px;
  }
  .flexBox .profile-pic img {
    width: 243px;
    height: auto;
    object-fit: cover;
  }
  .flexBox .container .intro-heading h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    text-align: left;
  }
  .flexBox .container .download-resume {
    text-align: left;
  }
  footer .footer-image-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
  }
  footer .footer-image-section {
    margin-top: 64px;
  }
  footer .footer-image-section .img-section img {
    width: 246px;
    height: 180px;
    margin-right: 22px;
  }
  footer .footer-image-section .others h2 {
    font-size: 30px;
    font-weight: 700;
  }
  #featured-work {
    font-size: 22px;
    font-weight: 400;
    line-height: 60px;
  }
  .icons-copyright .icons .icon {
    cursor: pointer;
  }
}
