* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Heebo", sans-serif;
  background-color: #edf7fa;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header #mobile .bars {
  width: 25px;
  height: 3px;
  margin-top: 4px;
  margin-right: 8px;
  background-color: black;
}

header #desktop {
  display: none;
}

.intro-section {
  text-align: center;
  max-width: 250px;
  margin: 0 auto;
}

.intro-section .profile-pic {
  margin-top: 42px;
  margin-bottom: 22px;
}

.intro-section .intro-heading h1 {
  font-size: 26px;
  margin-bottom: 22px;
  color: #21243d;
}

.intro-section .description p {
  font-size: 18px;
  margin-bottom: 18px;
  text-align: center;
}

.intro-section .download-resume a {
  text-decoration: none;
  font-weight: 500;
  color: white;
  padding: 7px 12px;
  background-color: #ff6464;
  font-size: 18px;
}

#recent-post {
  text-align: center;
  margin-top: 22px;
  margin-bottom: 22px;
  background-color: white;
  padding: 15px 0;
}

.card1,
.card2 {
  border: 2px solid transparent;
  max-width: 380px;
  margin: 18px auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.card1 .date-category,
.card2 .date-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 12px;
}

footer {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

#featured-work {
  margin-bottom: 22px;
  padding-top: 22px;
  text-align: center;
}

.footer-image-section {
  max-width: 365px;
  margin: 25px auto;
}

footer .date-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  margin-top: 12px;
}

footer .date-category #date {
  padding: 1.5px 12px;
  border-radius: 33px;
  font-size: 14px;
  font-weight: 700;
  color: white;
  background-color: #142850;
}

footer .date-category #category {
  color: rgba(128, 128, 128, 0.871);
}

footer .description {
  color: #21243d;
}

.icons-copyright {
  width: 100%;
  margin: 150px 0 auto;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.icons .icon {
  padding: 8px 30px;
}

.copyright-text {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.copyright-text p {
  margin-top: auto;
}

/*Media Queries*/

@media only screen and (min-width: 700px) {
  nav#desktop {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav#desktop div {
    font-size: 20px;
    font-weight: 500;
    line-height: 29.38px;
    padding: 12px 8px;
    margin: 12px 22px;
    cursor: pointer;
  }
  nav#mobile {
    display: none;
  }
  .flexBox {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin: 0 auto;
  }
  .flexBox .card1 {
    margin-left: 45px;
  }
  #recent-post {
    font-size: 22px;
    font-weight: 400;
    line-height: 60px;
  }
  .flexBox .profile-pic img {
    width: 243px;
    height: auto;
    object-fit: cover;
  }
  .flexBox .container .intro-heading h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    text-align: left;
  }
  .flexBox .container .download-resume {
    text-align: left;
  }
  footer .footer-image-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
  }
  footer .footer-image-section {
    margin-top: 64px;
  }
  footer .footer-image-section .img-section img {
    width: 246px;
    height: 180px;
    margin-right: 22px;
  }
  footer .footer-image-section .others h2 {
    font-size: 30px;
    font-weight: 700;
  }
  #featured-work {
    font-size: 22px;
    font-weight: 400;
    line-height: 60px;
  }
  .icons-copyright .icons .icon {
    cursor: pointer;
  }
}
